// Primary Color

$theme-primary: #fdf7e7;
$black-40: #000000;
$globe_blue-10: #0e0e96;
$electric_blue-40: hsl(231, 100%, 50%);
$white-8: #ffffff;
$globe_red-2: #ff1400;
$input_field: #191919;
$section-title: #2c2c2c;
$coffee: #a37c4d;
$light-coffee: #f7f0de;
$dark-gray: #3c383f;
$gray: #c5bebe;

/* Aux */
$error: #ff1400;
$info: #0043ce;
$success: #65b530;
$warning: #f1c21b;
