// Primary Color

$theme-primary: #FDF7E7;
$black-40: #000000;
$globe_blue-10: #0E0E96;
$electric_blue-40: hsl(231, 100%, 50%);
$white-8: #FFFFFF;
$globe_red-2: #FF1400;
$input_field: #191919;
$section-title: #2C2C2C;
$coffee: #A37C4D;


/* Aux */
$error:#FF1400;
$info:#0043CE;
$success:#65B530;
$warning:#F1C21B;





