*{
    font-family: 'WorkSans';
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    position: relative;
    
}

body {
    background-color: $theme-primary !important;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
}
img{
    max-width: 100%;
}
.fw_100{
    font-weight: 100;
}
.fw_200{
    font-weight: 200;
}
.fw_300{
    font-weight: 400;
}
.fw_400{
    font-weight: 400;
}
.fw_500{
    font-weight: 500;
}
.fw_600{
    font-weight: 600;
}
.fw_700{
    font-weight: 700;
}



.fs_55{
    font-size: $body_55;
}
.fs_54{
    font-size: $body_54;
}
.fs_52{
    font-size: $body_52;
}
.fs_50{
    font-size: $body_50;
}
.fs_48{
    font-size: $body_48;
}
.fs_46{
    font-size: $body_46;
}
.fs_44{
    font-size: $body_44;
}
.fs_42{
    font-size: $body_42;
} 
.fs_40{
    font-size: $body_40;
}
.fs_38{
    font-size: $body_38;
}
.fs_36{
    font-size: $body_36;
}
.fs_34{
    font-size: $body_34;
}
.fs_32{
    font-size: $body_32;
}
.fs_30{
    font-size: $body_30;
}
.fs_28{
    font-size: $body_28;
}
.fs_26{
    font-size: $body_26;
}
.fs_24{
    font-size: $body_24;
}
.fs_22{
    font-size: $body_22;
}
.fs_20{
    font-size: $body_20;
}
.fs_18{
    font-size: $body_18;
}
.fs_16{
    font-size: $body_16;
}
.fs_14{
    font-size: $body_14;
}
.fs_12{
    font-size: $body_12;
}

.text-color {
    color: $section-title;
}

.lh-1-5 {
    line-height: 1.5;
}

.section-title {
    text-align: center;
    max-width: 526px;
    margin: 0 auto;

    h5 {
        font-weight: 700;
        font-size: $body_40;
        line-height: 1;
        letter-spacing: 0;
        text-transform: capitalize;
        color: $section-title;
        margin-bottom: $gap_20;
    }

    p {
        font-weight: 400;
        font-size: $body_20;
        line-height: 100%;
        text-transform: capitalize;
        margin-bottom: $gap_40;
    }

    &.mx-850 {
        max-width: 850px;
    }
}


// Home page UI
.customize-your-wheat {
    position: relative;
    background-image: url("../../images/our-wheat.png");
    background-size: cover;
    background-position: center;
    padding: 90px 0 90px 70px;

    .customize-box {
        max-width: 526px;
        position: relative;
        z-index: 1;
    }

    &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(89.57deg, $black-40 -3.94%, rgba($black-40, 0) 60.47%);
        top: 0;
        left: 0;
    }

    &.get-in-touch {
        background-image: url("../../images/get-in-touch.png");
        padding: 85px 0 85px 70px;
    }
}

.how-it-work {
    .how-it-work-content {
        max-width: 577px;
    }

    .work-number {
        max-width: 65px;
        min-width: 65px;
        height: 65px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $coffee;
    }

    .how-work {
        &:before {
            position: absolute;
            content: '';
            height: 100%;
            width: 68px;
            background-repeat: no-repeat;
            left: 50%;
            transform: translateX(-50%);
            top: 85px;
        }

        &.work-1 {
            &:before {
                background-image: url("../../svg/how-work-1.svg");
            }
        }

        &.work-2 {
            &:before {
                top: 76px;
                background-image: url("../../svg/how-work-2.svg");
            }
        }

        &.work-3 {
            &:before {
                top: 80px;
                background-image: url("../../svg/how-work-3.svg");
            }
        }
    }

}

.how-we-work {
    .play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.why-choose-us {
    background-color: $light-coffee;
    padding: 50px 0;

    .why-chose-us-content {
        max-width: 700px;
    }
}



/* Banner */



.main-banner{
    width: 100%;
        height: auto;


}
.banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.banner-content {
    max-width: 500%;
}
.banner-content h1 {
    width: 526px;
    height: 210px;
    font-size:$body_40;
    font-weight: 700;
    color: #A37C4D;

}

.banner-content p {
    width: 526px;
    height: 23px;
    font-size: 16px;
    color: #555;
    margin-bottom: 70px;
}

.btn-get-started  {
    background-color: #A37C4D;
    color: white;
    border: none;
    width: 241px;
    height: 65px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: background 0.3s ease;

}

.btn-get-started a {
    text-decoration: none;
    color: #ffff;
}
.btn-get-started a {
    text-decoration: none;
    color: #ffff;
}
.banner-image img{
display: flex;
justify-content: center;
align-items: end;
width:890px;
height: 650px;
transform: rotate(11.23deg);
left: 100%;

}


.grains-img img {
 position: absolute;
 top:-142px;
left:-20px;
transform: rotate(-15deg);
width: 173px;
height: auto;
padding-bottom: 120px;
}
.grains-dot{
   max-width: 300px;
        height: 300px;
        transform: rotate(29.90deg);
        opacity: 1;
        top: 250px;
        right: 10%;
    }
.arrow-a {
    font-size: 20px;
}
 .dash-border{
max-width: 600px;
height: 114px;
  top:100px;
  right: 12px;
 border-width: 2px;
}

.remove-grains img{

width: 400px;
height: 200px;
transform: rotate(9.75deg);
opacity: 1;
top: 240px;
right: 50%;
}

/* product section*/
.main-product-section{
    padding-top: 12em;
}

.product-content h1{
    color: #2C2C2C;
    font-size:$body_40;
    padding-bottom: 20px;
}
.product-content p{
    font-size:$body_20;
    padding-bottom: 40px;
}
.product-section{
padding: 20px 80px;
}
.card-body{
    width: 244px;
        height: 125px;
       background-color:$theme-primary;;
        border-width: 1px;
}
.card-body p{
    padding-top: 9px;
  font-size: 13px;
  padding-bottom: 33px;
}
.card{
    border: none;
}
.btn-custom {
    padding: 20px 30px;
    /* top-bottom 20px, left-right 30px */
    font-size: 16px;
}
.btn  {
    font-weight: 400;
    padding: 20px 30px;
    font-size:$body_16;
   color: #ffff;
   background-color: $coffee;
}

.vision-box {
    position: relative;
    background-color: $coffee;

    &:before {
        position: absolute;
        content: '';
        background: url("../../images/vision-bg.png");
        opacity: 0.05;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .our-vision {
        max-width: 628px;
    }

    .our-promise {
        max-width: 588px;
        border-left: 2px solid rgba($white-8, 0.4);
    }
}

.our-team {
    .team-box {
        text-align: center;

        .img-wrapper {
            height: 356px;
            overflow: hidden;
            margin-bottom: 30px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.product-slider {
    .swiper {
        .swiper-wrapper {
            .product-box {
                .img-wrapper {
                    overflow: hidden;
                    height: 278px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .btn-border {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1px;
                    letter-spacing: 0;
                    text-align: center;
                    text-transform: uppercase;
                    background-color: $theme-primary;
                    padding: 19px 30px;
                    color: $coffee;
                    cursor: pointer;
                    transition: all 0.5s ease;

                    &:hover {
                        background-color: $coffee;
                        color: $white-8;
                    }
                }
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 62px;
        height: 62px;
        border-radius: 50%;
        background-color: $section-title;

        &:after {
            content: "";
            background-image: url("../../svg/arrow-right-white.svg");
            width: 22px;
            height: 22px;
        }
    }

    .swiper-button-prev {
        &:after {
            transform: rotatey(180deg);
        }
    }

    .swiper-pagination {
        display: none;
    }
}