* {
  font-family: "WorkSans";
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  position: relative;
}

body {
  background-color: $theme-primary;
}

.main-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;

  .app-main-section {
    flex: 1;
    padding-top: 106px;
  }
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
}
img {
  max-width: 100%;
}
.fw_100 {
  font-weight: 100;
}
.fw_200 {
  font-weight: 200;
}
.fw_300 {
  font-weight: 400;
}
.fw_400 {
  font-weight: 400;
}
.fw_500 {
  font-weight: 500;
}
.fw_600 {
  font-weight: 600;
}
.fw_700 {
  font-weight: 700;
}

.fs_55 {
  font-size: $body_55;
}
.fs_54 {
  font-size: $body_54;
}
.fs_52 {
  font-size: $body_52;
}
.fs_50 {
  font-size: $body_50;
}
.fs_48 {
  font-size: $body_48;
}
.fs_46 {
  font-size: $body_46;
}
.fs_44 {
  font-size: $body_44;
}
.fs_42 {
  font-size: $body_42;
}
.fs_40 {
  font-size: $body_40;
}
.fs_38 {
  font-size: $body_38;
}
.fs_36 {
  font-size: $body_36;
}
.fs_34 {
  font-size: $body_34;
}
.fs_32 {
  font-size: $body_32;
}
.fs_30 {
  font-size: $body_30;
}
.fs_28 {
  font-size: $body_28;
}
.fs_26 {
  font-size: $body_26;
}
.fs_24 {
  font-size: $body_24;
}
.fs_22 {
  font-size: $body_22;
}
.fs_20 {
  font-size: $body_20;
}
.fs_18 {
  font-size: $body_18;
}
.fs_16 {
  font-size: $body_16;
}
.fs_14 {
  font-size: $body_14;
}
.fs_12 {
  font-size: $body_12;
}

.text-color {
  color: $section-title;
}

.lh-1-5 {
  line-height: 1.5;
}

.lh-2 {
  line-height: 2;
}

.section-title {
  text-align: center;
  max-width: 526px;
  margin: 0 auto;

  h5 {
    font-weight: 700;
    font-size: $body_40;
    line-height: 1;
    letter-spacing: 0;
    text-transform: capitalize;
    color: $section-title;
    margin-bottom: $gap_20;
  }

  p {
    font-weight: 400;
    font-size: $body_20;
    line-height: 100%;
    text-transform: capitalize;
    margin-bottom: $gap_40;
  }

  &.chose-quantity {
    max-width: 550px;

    p {
      padding: 0 10px;
    }
  }

  &.mx-850 {
    max-width: 850px;
  }
}

//Custom radio and Checkbox
.custom-checkbox {
  .form-check-input {
    &[type="checkbox"] {
      display: grid;
      place-content: center;
      border: 1px solid rgba($coffee, 0.3);
      background-color: $theme-primary;
      box-shadow: none;

      &:before {
        content: "";
        width: 16px;
        height: 16px;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
      }

      &:checked {
        border: 1px solid $coffee;
        background-color: $coffee;
        &:before {
          transform: scale(1);
        }
      }
    }
  }

  .form-check-label {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: $section-title;
  }
}

.custom-radio {
  display: flex;
  align-items: center;
  gap: 10px;

  input[type="radio"] {
    display: grid;
    place-content: center;
    border: 1px solid $coffee;
    background-color: $theme-primary;
    box-shadow: none;
    width: 18px;
    height: 18px;

    &:before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em $coffee;
    }

    &:checked {
      &:before {
        transform: scale(1);
      }
    }
  }

  .form-radio-label {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: $section-title;
  }
}

// Home page UI
.customize-your-wheat {
  position: relative;
  background-image: url("../../images/our-wheat.png");
  background-size: cover;
  background-position: center;
  padding: 90px 0 90px 70px;

  .customize-box {
    max-width: 526px;
    position: relative;
    z-index: 1;
  }

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(
      89.57deg,
      $black-40 -3.94%,
      rgba($black-40, 0) 60.47%
    );
    top: 0;
    left: 0;
  }

  &.get-in-touch {
    background-image: url("../../images/get-in-touch.png");
    padding: 85px 0 85px 70px;
  }
}

.how-it-work {
  .how-it-work-content {
    max-width: 577px;
  }

  .work-number {
    max-width: 65px;
    min-width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $coffee;
  }

  .how-work {
    &:before {
      position: absolute;
      content: "";
      height: 100%;
      width: 68px;
      background-repeat: no-repeat;
      left: 50%;
      transform: translateX(-50%);
      top: 85px;
    }

    &.work-1 {
      &:before {
        background-image: url("../../svg/how-work-1.svg");
      }
    }

    &.work-2 {
      &:before {
        top: 76px;
        background-image: url("../../svg/how-work-2.svg");
      }
    }

    &.work-3 {
      &:before {
        top: 80px;
        background-image: url("../../svg/how-work-3.svg");
      }
    }
  }
}

.how-we-work {
  .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.why-choose-us {
  background-color: $light-coffee;
  padding: 50px 0;

  .why-chose-us-content {
    max-width: 700px;
  }
}

/* Banner */
.banner-section {
  padding-bottom: 250px;
  position: relative;

  .banner-content {
    max-width: 526px;
    position: relative;

    h1 {
      font-size: 60px;
      color: $coffee;
    }

    &:after {
      position: absolute;
      content: '';
      background-image: url("../../images/deshborder.png");
      width: 477px;
      height: 150px;
      background-size: contain;
      background-repeat: no-repeat;
      bottom: 30px;
      left: 270px;;
    }
  }

  .img-wrapper {
    position: absolute;
    top: -110px;
  }

  &:after {
    position: absolute;
    content: '';
    background-image: url("../../images/grains.png");
    width: 176px;
    height: 259px;
  }
}

//Vision Box DEsign
.vision-box {
  position: relative;
  background-color: $coffee;

  &:before {
    position: absolute;
    content: "";
    background: url("../../images/vision-bg.png");
    opacity: 0.05;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .our-vision {
    max-width: 628px;
  }

  .our-promise {
    max-width: 588px;
    border-left: 2px solid rgba($white-8, 0.4);
  }
}

//Our Team Section
.our-team {
  .team-box {
    text-align: center;

    .img-wrapper {
      height: 356px;
      overflow: hidden;
      margin-bottom: 30px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

//Slider UI
.swiper {
  .swiper-button-prev,
  .swiper-button-next {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: $section-title;

    &:after {
      content: "";
      background-image: url("../../svg/arrow-right-white.svg");
      width: 22px;
      height: 22px;
    }
  }

  .swiper-button-prev {
    &:after {
      transform: rotatey(180deg);
    }
  }

  .swiper-pagination {
    display: none;
  }
}

//Product Box
.product-box {
  .img-wrapper {
    overflow: hidden;
    height: 278px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .btn-border {
    font-weight: 400;
    font-size: 16px;
    line-height: 1px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    background-color: $theme-primary;
    padding: 19px 30px;
    color: $coffee;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      background-color: $coffee;
      color: $white-8;
    }
  }
}

// Our happy Client section
.our-happy-client {
  background-color: $light-coffee;

  .our-client-box {
    background-color: $theme-primary;
    padding: 18px;

    .img-wrapper {
      min-width: 54px;
      max-width: 54px;
      height: 54px;
      border-radius: 50px;
      overflow: hidden;
      margin-right: 18px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

// Contact us
.contact {
  .contact-banner {
    position: relative;
    background-image: url("../../images/contact.png");
    padding: 125px 151px 144px 0;

    h2 {
      color: $theme-primary;
    }

    &:after {
      position: absolute;
      content: "";
      background: linear-gradient(
        89.57deg,
        $black-40 -3.94%,
        rgba($black-40, 0) 60.47%
      );
      top: 0;
      right: 0;
      height: 100%;
      transform: rotate(180deg);
      width: 100%;
    }
  }

  .contact-info {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      a {
        display: flex;
        text-decoration: none;
        align-items: start;
        img {
          min-width: 23px;
          margin-right: 10px;
        }

        span {
          font-weight: 500;
          font-size: 18px;
          line-height: 1.444;
          letter-spacing: 0;
          color: $section-title;
        }
      }

      + li {
        margin-top: 38px;
      }
    }
  }

  .contact-form {
    padding: 68px 50px 0 50px;

    button {
      padding: 16px 30px;
      font-size: 16px;
      font-weight: 400;
      min-width: 153px;
    }
  }

  &:before {
    position: fixed;
    content: "";
    height: 100vh;
    background-color: $light-coffee;
    width: 39%;
    left: 0;
    top: 0;
  }
}

.stepper {
  display: flex;
  width: 100%;
}

.stepper-content {
  flex: 1;
  padding-left: 42px;

  .content-box {
    background-color: $light-coffee;
    padding: 30px 30px 100px 30px;

    .choose-your-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 23px;

      .grid-box {
        background-color: $theme-primary;
        padding: 18px;

        a {
          color: $coffee;
        }

        .checkbox-lis {
          .check-box-div {
            padding-bottom: 14px;
            border-bottom: 1px solid $light-coffee;

            + .check-box-div {
              margin-top: 18px;
            }
          }
        }
      }
    }
  }

  .stepper-button-content {
    background-color: $white-8;
    padding: 12px 31px 11px 31px;
    display: flex;
    justify-content: end;
    align-items: center;

    p {
      color: rgba($black-40, 0.6);
    }

    .button {
      width: 153px;
      padding: 20px 30px;
      font-size: 16px;

      &.btn-border {
        background-color: $white-8;
        color: $coffee;
      }
    }
  }

  .dropdown-list {
    .list-box {
      padding-bottom: 14px;
      border-bottom: 1px solid $light-coffee;

      + .list-box {
        margin-top: 14px;
      }
    }
  }

  .choose-your-grinding {
    .title {
      color: $coffee;
    }
    .custom-radio {
      padding-bottom: 18px;
      border-bottom: 1px solid $coffee;
    }
  }

  .cart-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .personal-details {
    h5 {
      color: $coffee;
    }
  }

  .completion-screen {
    background-color: $light-coffee;
    padding: 40px;
    margin-top: -60px;

    .completion-screen-content {
      max-width: 558px;
      margin: 0 auto;
    }
    .complete-content {
      background-color: $white-8;
      padding: 30px;

      .img-wrapper {
        max-width: 80px;
        height: 80px;
        min-width: 80px;
        margin-right: 23px;
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        > div {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
        }
      }

      button {
        padding: 20px 30px;
      }
    }

    .tag-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;

      .tag {
        font-weight: 600;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0;
        color: $section-title;
        padding: 10px;
        border-radius: 50px;
        background-color: $theme-primary;
      }
    }
  }
}

.dropdown {
  .dropdown-toggle {
    width: 100%;
    text-align: left;
    border: 1px solid $coffee;
    background-color: $white-8;
    color: $black-40;
    font-size: 16px;
    font-weight: 500;
    padding: 11px 16px;
    line-height: 1;
    border-radius: 5px;

    &:after {
      border: 0;
      position: absolute;
      background: url("../../svg/arrow-down.svg");
      width: 24px;
      height: 24px;
      right: 13px;
      top: 50%;
      transform: translateY(-50%);
      background-size: cover;
    }

    &:active {
      background-color: $white-8;
      color: $black-40;
    }
  }

  .dropdown-menu {
    width: 100%;
    background-color: $white-8;
    border: 1px solid $coffee;
    border-radius: 5px;
    padding: 16px;

    li {
      .dropdown-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0;
          color: $black-40;
          margin: 0;
        }
      }

      + li {
        margin-top: 18px;
      }
    }
  }
}

.form-input {
  .form-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color: $section-title;
    margin-bottom: 12px;
  }

  .form-control {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -2%;
    color: $section-title;
    padding: 15px 24px;
    border: 1px solid $coffee;
  }
}

.tabs-container {
  .tab-buttons {
    display: grid;
    grid-template-columns: 142px 142px 142px 142px;
    gap: 4px;
    margin-bottom: 31px;

    button {
      padding: 16px 10px;
      background-color: $theme-primary;
      font-weight: 600;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0;
      color: $coffee;
      border: 0;
      border-top: 1px solid $theme-primary;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      flex-direction: column;
      opacity: 0.6;

      &.active {
        border-top-color: $coffee;
        color: $section-title;
        opacity: 1;
      }
    }
  }
}
.custom-sidebar {

  .img-container {
    display: flex;
    width: 100%;
    height: 50px;

    .avtar-content {
      color: #2c2c2c;
      font-size: 16px;
      line-height: 25px;
      text-transform: capitalize;
      width: 171px;
      height: 41px;
    }
  }
  .nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #2c2c2c;
  }
}

.search-field {
  position: relative;
  width: 300px;

  .form-control {
    width: 100%;
    background-color: $theme-primary;
    border: 1px solid $gray-100;
    padding: 14px 15px;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0;
    text-transform: capitalize;
  }

  .search-icon {
    position: absolute;
    content: '';
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }
}

// User-profile section
.container-fluid {
  .main-content {
    width: 100%;
  }

  .custom-main-content {
    width: 75%;
    height: 621px;
    .custom-tab-content {
      .custom-tab-nav-content {
        .nav-link:hover {
          color: $coffee;
        }
      }
    }
    .custom-search-content {
      .search-container {
        position: relative;
        width: 350px;
      }
      .search-container input {
        height: 50px;
        width: 100%;
        padding: 10px 40px 10px 15px;
        border: 1px solid #d9d9d9;
        color: #2c2c2c;
        background-color: #fdf7e9;
        font-weight: 300;
        outline: none;
      }
      .search-container .search-icon {
        color: #2c2c2c;
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        pointer-events: none;
      }
    }
    .custom-order-content {
      background-color: $light-coffee;
      .custom-order-sub-content img {
        width: 32px;
        height: 32px;
      }
      .drop-down-content {
        background-color: $light-coffee;
      }
    }

    .custom-card-content {
      background-color: $light-coffee;

      .order-details small {
        .order-details p {
          .order-meta {
            .order-meta span {
              .download-link {
                color: $coffee;
              }

              .download-link:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    .custom-product-info-content {
      span {
        background-color: #fdf7e7;
      }
    }
    .custom-rating-content {
      .rating-content {
        height: 30px;
        width: 112px;
        gap: 3.13px;
      }
    }
  }
}

//User-profile-by-again
.custom-card-content {
  width: 100%;
  height: 386px;

  background-color: $light-coffee;
}
.again-btn {
  padding: 10px 20px;

  background-color: $coffee;
}
.again-btn a {
  text-decoration: none;
  color: #ffff;
}

.profile-tabs-button {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $gray;
  padding-bottom: 17px;
  gap: 30px;
  margin-bottom: 28px;

  button {
    position: relative;
    border: 0;
    background-color: transparent;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: capitalize;
    color: $section-title;
    padding: 0;

    &.active {
      font-weight: 600;
      color: $coffee;

      &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: $coffee;
        bottom: -17px;
        left: 0;
      }
    }
  }

}

//user infomation
.container-fluid {
  .main-content {
    width: 100%;
    .custom-sidebar {
      background-color: $light-coffee;
      width: 25%;
      height: auto;
    }
    .custom-main-content {
      width: 75%;
      height: 621px;
    }
  }
}
main {
  .profile-container {
    .form-control,
    .profile-container .form-select,
    .profile-container textarea {
      border: 1px solid $coffee; /* coffee brown */
      box-shadow: none;
    }
    form {
      .form-label {
        .required {
          color: red;
        }
      }
      .form-actions {
        .btn-cancel {
          background-color: transparent;
          color: $coffee;
          border: 1px solid $coffee;
          padding: 8px 20px;

          text-transform: uppercase;
          .btn-cancel:hover {
            background-color: $coffee;
            color: #fff;
          }
        }

        /* Save button */
        .btn-save {
          background-color: $coffee;
          color: #fff;
          border: none;
          padding: 8px 20px;

          text-transform: uppercase;
          .btn-save:hover {
            background-color: $light-coffee;
          }
        }
      }
    }
  }
}

.main-content {
  .order-box {
    background-color: $light-coffee;
  }
}

.select-transparent {
  background-color: $light-coffee;
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    box-shadow: none;
  }
}

.order-list-box {
  padding: 30px;
  background-color: $light-coffee;

  .order-invoice {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba($white-8, 0.65);
  }

  .order-name {
    + .order-name {
      margin-left: 30px;
      padding-left: 30px;
      border-left: 1px solid $white-100;
    }
  }

  .invoice-download {
    h6 {
      color: $coffee;
    }
  }
}

.cart-grid {
  .img-wrapper {
    min-width: 80px;
    max-width: 80px;
    height: 80px;
    margin-right: 23px;
  }

  .tag-list {
    gap: 8px;
    flex-wrap: wrap;

    .tag {
      background-color: $theme-primary;
      border-radius: 50px;
    }
  }

  .action {
    min-width: 32px;
    max-width: 32px;
    height: 32px;
    border-radius: 50px;
    background-color: $theme-primary;
  }

  .delete {
    min-width: 32px;
    max-width: 32px;
    height: 32px;
    border-radius: 50px;
  }

  .btn-solid {
    font-size: 18px;
    line-height: 1;
    padding: 9px 16px;
    font-weight: 400;
  }

  .button-border {
    padding: 9px 28px;
    background-color: transparent;
    font-size: 18px;
    color: $coffee;
  }

  + .cart-grid {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid rgba($black-40, 0.09);
  }
}