.navbar {
    background-color: transparent;
    top: 30px;

    .navbar-toggler {
        border: 0;

        &:focus {
            box-shadow: none;
        }
    }

    .nav-background {
        background-color: $white-8;
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 9px 20px 8px;

        .navbar-brand {
            padding: 0;

            @media (max-width: 991px) {
                img {
                    width: 58px;
                }
            }
        }

        .navbar-nav {
            gap: 34px;

            .nav-item {
                .nav-link {
                    padding: 0;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 100%;
                    letter-spacing: 0;
                    color: $section-title;

                    &.active {
                        color: $coffee;
                    }
                }
            }

            @media (max-width: 991px) {
                padding-top: 28px;
                padding-bottom: 28px;
                gap: 0;

                .nav-item {
                    .nav-link {
                        padding: 18px 0;
                        border-bottom: 1px solid #E7E7E7;
                    }
                }
            }
        }

        .login-btn {
            border: 1px solid $coffee;
            background-color: transparent;
            padding: 11px 41px;
            font-weight: 500;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0;
            text-transform: uppercase;
            color: $coffee;
            transition: all 0.5s ease;

            &:hover {
                background-color: $coffee;
                color: $white-8;
            }

            @media (max-width: 991px) {
                font-size: 18px;
                padding: 4px 7px;
            }
        }
    }

    .navbar-collapse {
        @media (max-width: 991px) {
            order: 2;
        }
    }
}

.profile-img {
    min-width: 57px;
    max-width: 57px;
    height: 57px;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media (max-width: 991px) {
        min-width: 38px;
        max-width: 38px;
        height: 38px;
    }
}