.sidebar {
    background-color: $light-coffee;
    padding: 170px 38px 38px;

    .sidebar-content {
        position: sticky;
        top: 140px;
    }

    .checkbox-list {
        gap: 18px;
    }
}

.stepper-sidebar {
    position: sticky;
    top: 0;

    .sidebar-step {
        max-width: 330px;
        min-width: 330px;
        padding-right: 16px;
        position: relative;
        padding-top: 180px;

        .step-sidebar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;
            padding-bottom: 51px;
            position: relative;

            &:before {
                position: absolute;
                content: '';
                width: 1px;
                height: 100%;
                background-color: rgba($coffee, 0.33);
                top: 0;
                left: 17px;
            }

            .sidebar-content {
                display: flex;
                align-items: center;
                gap: 13px;

                .step-count {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    max-width: 34px;
                    min-width: 34px;
                    height: 34px;
                    border-radius: 50px;
                    background-color: $white-8;
                    color: $section-title;
                    border: 1px solid $coffee;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0;
                }

                span {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0;
                    text-transform: capitalize;
                    color: $section-title;
                }
            }

            .check-box-icon {
                min-width: 18px;
                display: none;
            }

            &.active,
            &.completed {
                .sidebar-content {
                    .step-count {
                        background-color: $coffee;
                        color: $white-8;
                    }
                    span {
                        font-weight: 600;
                    }
                }
            }

            &.completed {
                .check-box-icon {
                    display: block;
                }

                &:before {
                    background-color: $coffee;
                }
            }

            &:last-child {
                &:before {
                    display: none;
                }
            }
        }

        &:before {
            position: fixed;
            content: '';
            width: 33vw;
            height: 100vh;
            background-color: $light-coffee;
            left: 0;
            top: 0;
        }

    }
}


.profile-sidebar {
    padding-top: 74px;

    .profile-details {
        .img-wrapper {
            min-width: 50px;
            max-width: 50px;
            border-radius: 50px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        p {
            opacity: 0.6;
        }
    }

    .sidebar-nav {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            .nav-link {
                display: flex;
                align-items: center;
                gap: 18px;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0;
                text-transform: capitalize;
                color: $section-title;
                opacity: 0.6;

                &.active {
                    opacity: 1;
                    font-weight: 600;

                    svg {
                        stroke: $coffee;
                    }
                }

            }

            + li {
                margin-top: 48px;
            }
        }

        .sub-menu {
            padding-left:  46px;
            margin: 14px 0 0 0;

            .nav-link {
                + .nav-link {
                    margin-top: 10px;
                }
            }
        }
    }

    .logout-btn a {
        color: #ff0d00;
        text-decoration: none;
        text-transform: uppercase;
    }
}